<!-- templates/create_order.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Create Exchange Order - CryptoExchange{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    
<style>
     {#not to conflict styles #}
    input[type="text"],
    input[type="email"],
    input[type="number"] {
        padding: 12px !important;
        box-sizing: border-box;
        font-size: 15px;
    }
    select {
        padding: 12px !important;
        box-sizing: border-box; 
    }
</style>

    
{% endblock %}

{% block content %}
<div class="form-container main-form-container">
    <form method="post" id="cryptoConverterForm">
        {% csrf_token %}

        <div class="form-title">Create Exchange Order</div>

        <div class="form-field">
            <label for="id_email">E-mail:</label>
            <input type="email" name="email" id="id_email" required>
        </div>

        <div class="form-field">
            <label for="id_crypto_from">Crypto From:</label>
            <select name="crypto_from" id="id_crypto_from">
                <option value="BTC">Bitcoin (BTC)</option>
                <option value="ETH">Ethereum (ETH)</option>
                <option value="XMR">Monero (XMR)</option>
                <option value="DAI">Dai (DAI)</option>
                <option value="BNB">Binance Coin (BNB)</option>
                <option value="USDT">Tether (USDT)</option>
                <option value="LTC">Litecoin (LTC)</option>
                <option value="XLM">Stellar (XLM)</option>
                <option value="ADA">Cardano (ADA)</option>
                <option value="XRP">Ripple (XRP)</option>
            </select>
        </div>

        <div class="form-field">
            <label for="id_amount">Amount:</label>
            <input type="number" name="amount" id="id_amount">
        </div>

        <div class="form-field">
            <label for="id_crypto_to">Crypto To:</label>
            <select name="crypto_to" id="id_crypto_to">
                <option value="BTC">Bitcoin (BTC)</option>
                <option value="ETH">Ethereum (ETH)</option>
                <option value="XMR">Monero (XMR)</option>
                <option value="DAI">Dai (DAI)</option>
                <option value="BNB">Binance Coin (BNB)</option>
                <option value="USDT">Tether (USDT)</option>
                <option value="LTC">Litecoin (LTC)</option>
                <option value="XLM">Stellar (XLM)</option>
                <option value="ADA">Cardano (ADA)</option>
                <option value="XRP">Ripple (XRP)</option>
            </select>
        </div>

        <div class="form-field">
            <label for="id_recipient_wallet">Recipient Wallet:</label>
            <input type="text" name="recipient_wallet" id="id_recipient_wallet">
        </div>

        <div class="form-field">
            <label for="you_get">You receive:</label>
            <input type="text" name="converted_amount" id="converted_amount" readonly>
        </div>

        <div class="form-field agreement">
            <input type="checkbox" id="agreementCheckbox" class="agreement-checkbox" name="agreement">
            <label for="agreementCheckbox">Agree to <a href="/aml/" class="user-agreement-link">user agreement</a> service.</label>
        </div>

        <div id="formErrors" style="color: red; font-size: 0.8em;">
            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div>{{ field.label }}: {{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="form-field button-container">
            <button type="submit" id="submitBtn">Exchange now</button>
        </div>
    </form>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        function updateConversion() {
            var amount = document.querySelector('input[name="amount"]').value;
            if (!amount) return; //if no amount is entered

            var from_currency = document.querySelector('select[name="crypto_from"]').value;
            var to_currency = document.querySelector('select[name="crypto_to"]').value;

            fetch(`/convert_currency/?amount=${amount}&from_currency=${from_currency}&to_currency=${to_currency}`)
            .then(response => response.json())
            .then(data => {
                document.getElementById('converted_amount').value = data.converted_amount.toFixed(4);
            })
            .catch(error => console.error('Error:', error));
        }

        document.getElementById('id_amount').addEventListener('input', updateConversion);
        document.getElementById('id_crypto_from').addEventListener('input', updateConversion);
        document.getElementById('id_crypto_to').addEventListener('input', updateConversion);
    });

    document.getElementById("id_amount").addEventListener("input", function() {
        const amount = parseFloat(this.value);
        if (amount < 0 || isNaN(amount)) {
            this.value = ''; //clear field
        }
    });

    function logout() {
        document.getElementById('logout-form').submit();
    }
</script>
{% endblock %}
