<!DOCTYPE html>
<html>
<head>
    <title>Деталі обміну</title>
</head>
<body>
    <h2>Деталі обміну</h2>
    <p>Номер замовлення: {{ order_id }}</p>
    <p>Криптовалюта, яку ви обмінюєте: {{ crypto_from }}</p>
    <p>Криптовалюта, на яку ви обмінюєте: {{ crypto_to }}</p>
    

    <form method="post">
        {% csrf_token %}
        <label for="recipient_wallet">Гаманець отримувача:</label>
        <input type="text" id="recipient_wallet" name="recipient_wallet">
        
        <button type="submit">Підтвердити</button>
    </form>
</body>
</html>
