/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Темний фон для всього тіла */
    color: #e0e0e0; /* Світлий колір тексту */
    margin: 0;
    padding: 0;
    text-align: left;
    
}

h2 {
    text-align: center;
    color: #fff;
}

header {
    background-color: #1c1c1c; /* Ще темніший фон для заголовка */
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #222; /* Темний фон для навігації */
}

nav li {
    display: inline;
    margin-right: 20px;
    color: #fff; /* Білий текст для пунктів меню */
}

main {
    max-width: 800px; /* Або інша ширина за вашим вибором */
    margin-left: auto;
    margin-right: 0;
    padding: 20px;
    background-color: #282828; /* Темний фон для основного контенту */
    border: 1px solid #3d3d3d; /* Контур для основного контенту */
    border-radius: 5px;
    color: #e0e0e0; /* Світлий колір тексту */
}


form {
    max-width: 400px;
    margin-left: auto; 
    margin-right: 40px; 
    padding: 20px;
    background-color: #333; 
    border: 1px solid #444;
}


input[type="text"], input[type="email"], select, textarea {
    background-color: #444; /* Темний фон для полів вводу */
    color: #e0e0e0; /* Світлий колір тексту */
    border: 1px solid #555; /* Контур для полів вводу */
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
}

input, select, textarea {
    background-color: #444; /* Темний фон для полів вводу */
    color: #e0e0e0; /* Світлий колір тексту */
    border: 1px solid #555; /* Контур для полів вводу */
    padding: 10px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
}

button {
    background-color: #007BFF; /* Колір фону кнопки */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Колір фону кнопки при наведенні */
}
