body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background: radial-gradient(at 100% 40%,#9cabf9 0,transparent 47%),radial-gradient(at 80% 90%,#f7d3dd 0,transparent 20%),radial-gradient(at 75% 60%,#b1bdf9 0,transparent 50%),radial-gradient(at 50% 46%,#cddbf9 0,transparent 40%),radial-gradient(at 28% 39%,#e2fafc 0,transparent 40%),radial-gradient(at 0 90%,#d4c8f0 0,transparent 65%);
    font-family: Arial, sans-serif;
}

.site-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: transparent;
}

.Wrap {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(59, 56, 56);
}

.site-title {
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
}

.site-color {
    color: rgb(176, 89, 219); 
}


.site-title {
    color: black;
}

.wrap-buttons {
    display: flex;
    align-items: center;
}

#signup-button, #login-button, #support-button {
    background-color: transparent;
    color: #000000; 
    border: none; 
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 15px; 
}

#signup-button:hover, #login-button:hover, #support-button:hover {
    color: #a774da;
    background-color: transparent; 
}


.support-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    fill: rgb(0, 0, 0)505;
}



.form-container {
    width: 575px;
    height: 880px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(8, 8, 8, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-title {
    width: 500px;
    height: 90px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 38px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 16px;
}


input[type="text"], .main-form-container input[type="email"], select, textarea, #id_amount {
    width: 500px;
    height: 60px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
}


.agreement input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 4px;
    position: relative;
    margin-right: 10px;
}

.agreement label {
    position: relative;
    top: 3px; 
}

.agreement input[type="checkbox"]:checked {
    background-color: #000;
}

.agreement input[type="checkbox"]:checked::after {
    content: "✔";
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    line-height: 1;
}

.agreement {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-agreement-link {
    color: #a774da;
    text-decoration: none;
}

.user-agreement-link:hover {
    text-decoration: underline;
}

.agreement-warning {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

.hidden {
    display: block;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#submitBtn {
    width: 343px;
    height: 75px;
    padding: 10px;
    margin-top: 10px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}

#submitBtn:hover {
    background-color: #333;
}



/*-------------------------------- register page styles ------------------------ */




.register-form-container {
    width: 550px;
    height: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(8, 8, 8, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.site-header-register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left-header {
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
}

.right-header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
}

.register-form-title {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 40px;
}

#login-button-register {
    background-color: transparent;
    color: #a936a7;
    border: none;
    padding: 5px 10px;
    font-size: 16px; /* Збільшений розмір шрифту */
    cursor: pointer;
}

#login-button-register:hover {
    color: #a774da;
    background-color: transparent;
}





.register-form-container input[type="email"] {
    font-size: 18px;
    width: 500px;
    height: 80px;
    padding: 12px;
    margin: 18px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.register-form-container input[type="password"] {
    width: 500px;
    height: 60px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.register-button-container {
    text-align: center; 
    width: 100%; 
    padding: 20px 0; 
}

.register-button {
    width: 343px;
    height: 75px;
    padding: 10px;
    margin-top: 10px;
    background-color: #111111;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 800;
    margin-left: auto;
    margin-right: auto;
}


.register-form-container input::placeholder {
    font-size: 16px; /* або будь-який інший розмір, який вам потрібен */
    color: #888; /* Це також дозволяє змінити колір плейсхолдера */
}

.register-form-container input:focus {
    outline: none; /* Видаляємо стандартну обводку браузера */
    border: 2px solid #000; /* Застосовуємо чорну обводку */
}











