{% extends 'base.html' %}
{% load static %}

{% block title %}Login - CryptoExchange{% endblock %}


{% block content %}
<div class="login-form-container">
    <div class="site-header-login">
        <div class="left-header">
            <div class="register-form-title">Login</div>
        </div>
        <div class="right-header">
            <button id="login-button-register" onclick="location.href='{% url 'register' %}';">Sign up</button>
        </div>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            {{ form.username.errors }}
            {{ form.username }}
        </div>
        <div class="form-field">
            {{ form.password.errors }}
            {{ form.password }}
        </div>
        <div class="register-button-container">
            <button type="submit" class="register-button">Login</button>
        </div>
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if 'login' in message.tags %}
                    <div class="{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}
