<!DOCTYPE html>
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&display=swap" rel="stylesheet">
</head>

{% block content %}

<body>

    <header class="site-header">
        <div class="Wrap">
            <a href="{% url 'create_exchange_order' %}" class="site-title-link">
                <p class="site-title"><span class="site-color">Crypto</span>Exchange</p>
            </a>            
                <div class="wrap-buttons">
                    <!--  logo for support button  -->
                    <button id="support-button" onclick="location.href='/support'">
                        <svg class="support-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M7.824 5.937a1 1 0 0 0 .726-.312 2.042 2.042 0 0 1 2.835-.065 1 1 0 0 0 1.388-1.441 3.994 3.994 0 0 0-5.674.13 1 1 0 0 0 .725 1.688Z"/>
                            <path d="M17 7A7 7 0 1 0 3 7a3 3 0 0 0-3 3v2a3 3 0 0 0 3 3h1a1 1 0 0 0 1-1V7a5 5 0 1 1 10 0v7.083A2.92 2.92 0 0 1 12.083 17H12a2 2 0 0 0-2-2H9a2 2 0 0 0-2 2v1a2 2 0 0 0 2 2h1a1.993 1.993 0 0 0 1.722-1h.361a4.92 4.92 0 0 0 4.824-4H17a3 3 0 0 0 3-3v-2a3 3 0 0 0-3-3Z"/>
                        </svg>
                        Support
                    </button>
                    <!--  buttons  -->
                    <button id="signup-button" onclick="location.href='/register'">Sign Up</button>
                    <button id="login-button" onclick="location.href='/login'">Log In</button>
                </div>
        </div>
    </header>
    


    <div class="register-form-container">
        <div class="site-header-register">
            <div class="left-header">
                <div class="register-form-title">Sign up</div>
            </div>
            <div class="right-header">
                <button id="login-button-register" onclick="location.href='/login';">Log In</button>
            </div>
        </div>
        
        <form method="post">
            {% csrf_token %}


        <div class="form-field">
            {{ form.username }}
            {% if form.username.errors %}
                <div class="error-message">{{ form.username.errors }}</div>
            {% endif %}
        </div>
    



        <div class="form-field">
            {{ form.email }}
            {% if form.email.errors %}
                <div class="error-message">{{ form.email.errors }}</div>
            {% endif %}
        </div>
    

        <div class="form-field">
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="error-message">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
    

        
        <div class="form-field">
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="error-message">{{ form.password2.errors }}</div>
            {% endif %}
        </div>


            <div class="register-button-container">
                <button type="submit" class="register-button">Register</button>
            </div>
        </form>
    </div>



        <div class = "footer">
        
        <div class = "footer-wrap">
            
            <div class = "footer-buttons">
                <a class = "footer-link" href="create_exchange_order.html">Exchange</a>
                 <a class = "footer-link" href="create_exchange_order.html">Reviews</a>
                 <a class = "footer-link" href="create_exchange_order.html">Partners</a>
                 <a class = "footer-link" href="create_exchange_order.html">Contacts</a>
                 <a class = "footer-link" href="create_exchange_order.html">AML agreement</a>
            </div>
            
        </div>
        
        
        
    </div>
    
    
    

</body>
{% endblock %}
